.dropdown{
	display: none;
}
header{
	margin: 1%;
}
header img{
	margin-left: 12%;
	margin-top: 0.5%;
}
header nav{
	margin-left: 8%;
	margin-top: 4%; 
}
header nav a{
	margin: 3%;
	text-decoration: none;
	font-family: 'Bubbler One', sans-serif;
	color: #009ed7;
	font-size: 200%;
}
@media only screen and (max-width: 1042px){
	header nav a{
		font-size: 175%;
	}
}
@media only screen and (max-width: 922px){
	header nav a{
		font-size: 150%;
	}
}
@media only screen and (max-width: 808px){
	header nav a{
		font-size: 125%;
	}
}
@media only screen and (max-width: 766px){
	header nav a{
		font-size: 200%;
	}
}
@media only screen and (max-width: 750px){
	header nav a{
		font-size: 175%;
	}
}
@media only screen and (max-width: 650px){
	header nav a{
		font-size: 150%;
	}
}
@media only screen and (max-width: 600px){
	#mobile{
		display: block;
		position: fixed;
		margin-left: -1%;
		margin-top: -20%;
		z-index: 1000;
	}
	#default{
		display: none;
	}
	#menu-ativado li a{
		color: #009ed7;
	}
	#menu-ativado li a:hover{
		background-color: #696969;
	}
}
header nav a:hover{
	color: grey;
	text-decoration: underline;
}
section{
	margin: 0 -15px;
}