#slideshow-mobile{
	display: none;
}
.dropdown{
	display: none;
}
#fixed{
	background-color: #fff;
	height: 140px;
	margin: 0 -15px;
}
header{
	margin: 0 -15px 1% -15px;
	padding: 1% 0;
	position: fixed;
	z-index: 900;
	background-color: rgba(255, 255, 255, 0.8);
}
header img{
	margin-left: 12%;
	margin-top: 0.5%;
}
header nav{
	margin-left: 8%;
	margin-top: 4%; 
}
header nav a{
	margin: 3%;
	text-decoration: none;
	font-family: 'Bubbler One', sans-serif;
	color: #009ed7;
	font-size: 200%;
}
@media only screen and (max-width: 1042px){
	header nav a{
		font-size: 175%;
	}
	#fixed{
		height: 105px;
	}
}
@media only screen and (max-width: 922px){
	header nav a{
		font-size: 150%;
	}
	#fixed{
		height: 90px;
	}
}
@media only screen and (max-width: 808px){
	header nav a{
		font-size: 125%;
	}
	#fixed{
		height: 80px;
	}
}
@media only screen and (max-width: 766px){
	header nav a{
		font-size: 200%;
	}
	#fixed{
		height: 300px;
	}
}
@media only screen and (max-width: 750px){
	header nav a{
		font-size: 175%;
	}
	#fixed{
		height: 290px;
	}
}
@media only screen and (max-width: 650px){
	header nav a{
		font-size: 150%;
	}
	#fixed{
		height: 250px;
	}
	#slideshow{
		display: none;
	}
	#slideshow-mobile{
		display: block;
	}
}
@media only screen and (max-width: 600px){
	#mobile{
		display: block;
		position: fixed;
		margin-left: 2%;
		margin-top: -25%;
		z-index: 1000;
	}
	#default{
		display: none;
	}
	#menu-ativado li a{
		color: #009ed7;
	}
	#menu-ativado li a:hover{
		background-color: #696969;
	}
	#fixed{
		height: 180px;
	}
}
header nav a:hover{
	color: grey;
	text-decoration: underline;
}
section{
	margin: 0 -15px;
	height: 522px;
}
.grey{
	background-color: #9d9d9d;
}
footer{
	margin: 0 -15px;
	height: 100px;
	background-color: #009ed7;
}